*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Euclid Circular A';
}
.header-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-heading{
  font-size: 100px;
  text-transform: capitalize;
  color: #3b5998;
}
.header-heading span {
  color: #d2691e;
}

/* carrusel */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }

/* Seccion de Informacion */

.mb-5 {
  background: mediumseagreen;
}

.mbb-5 {
  font-family: 'Euclid Circular A';
  color: darkgoldenrod;
  font-size: 30px;
}
.text-primary {
  font-family: 'Euclid Circular A';
  font-size: 40px;
}

.informative {
  background-color: mediumaquamarine;
  margin-bottom: 70px;
  padding: 50px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.p-0 {
  padding: 0 !important;
}

.px-md-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.col-md {
  align-items: center;
  justify-content: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.ml-md-0, .mx-md-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;

}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.svg-icon-text {
  fill: #000;
}

.icon-5x {
  font-size: 5em;
}

.icon-inline {
  display: inline-block;
  font-size: auto;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.p-0 {
  padding: 0 !important;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  font-family: "Euclid Circular A";
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.m-0 {
  margin: 0 !important;
}

p {
  margin-top: 0;
  line-height: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


/* seccion central */ 

.text-center {
  text-align: center !important;
}

.offset-md-2 {
  margin-left: 16.666667%;
}

.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.product-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-card > img{
  max-width: 100%;
  border-radius: 1rem;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.detalles-producto {
  background-color: mediumaquamarine;
    color: darkgoldenrod;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.detalles-producto > h3 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.detalles-producto > p {
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.producto-agregar {
  border: 0;
  background-color: whitesmoke;
  color: goldenrod;
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color .2s, color .2s;
  font-size: 20px;
}


/* seccion Final */
.end-section {
    padding: 50px 5vw;
}
.end-section .section-item-container {
    height: 800px;
}
.end-section .section-info {
    margin: 0;
}
.end-section .title {
    font-size: 100px;
    line-height: 150px;
    margin: 50px;
}

/* Reviews */

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 12px;
  text-align: center;
  color: goldenrod;
}
.review-section {
	padding: 50px 5vw;
}

.review-container {
	display: flex;
  justify-content: center;
	gap: 20px;
	margin: 50px;
}

.review-card {
	width: 250px;
	height: auto;
	font-family: 'lato', sans-serif;
}

.user-dp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
}

.user-dp img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}


.user-dp::after {
	content: attr(data-rating);
	position: absolute;
	bottom: 0;
	right: -20px;
	padding: 5px 20px;
	border-radius: 20px;
	background-color: #3b5998;
  color: goldenrod;
}

.review-title {
	font-size: 20px;
	line-height: 25px;
	margin: 30px 0;
	text-transform: capitalize;
  color: royalblue;
}

.review {
	opacity: 0.7;
  font-family: 'Euclid Circular A';
  color: darkolivegreen;
}

/* Footer */

.h4 {
  font-family: 'Euclid Circular A';
  color: goldenrod;
  font-size: 28px;
}

.bi-facebook {
  font-size: 35px;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
}

.bi-whatsapp {
  font-size: 35px;
  color:#fff;
  background:
  linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
  radial-gradient(#25d366 58%,transparent 0);
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
}

.bi-envelope-at-fill {
  font-size: 35px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; 
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
}

.bi-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
}

.divider { 
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.footer-legal{
  position: absolute;
  width: 100%;
  height: auto;
  background: mediumaquamarine;
}


.message {
  align-items: center;
  text-align: left;
  font-family: 'Euclid Circular A';
  color: black;
  font-size: 16px;
  padding: 20px;
  
}

.powered-by {
  text-align: right ;
  font-family: 'Euclid Circular A';
  color: black;
  font-size: 16px;
  padding: 20px;

}

/* NavBar */
* {
    box-sizing: border-box;
  }
  
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .navbar,
  .navbar-burger,
  .menu,
  .background {
    position: fixed;
  }
  
  .background {
    z-index: 1;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
  }
  
  body.open .background {
    filter: blur(20px);
  }
  
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
    background: mediumaquamarine;
    color: goldenrod;
  }
  
  .navbar > button {
    font-size: 28px;
  }
  
  .navbar-logo {
    height: 55px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .navbar-burger {
    background-image: url("../img/close.svg");
  }
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu > a {
    color: darkcyan;
    font-size: 32px;
    font-family: "Euclid Circular A";
    text-decoration: none;
  }
  
  body.open .menu > a {
    animation: appear 0.3s both;
  }

  .logo {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }